body {
    font-family: 'Big Shoulders Text', cursive;

    text-align: center;
}

.container-fluid {
    padding:7% 15%;
}

.colored-section {
    background-color: #24441f;
    color: #f7ffe6;
}



.white-section {
    background-color: #f7ffe6;    
}

.logo {
    border: 30px;
    border-radius: 100%;
    /* padding: 5px; */
    width: 50%;
}

.big-heading {
    font-size: 3.5rem;
    font-weight: 100;
    line-height: 1.5;
    padding-top: 60px;
}

.two-heading {
    font-size: 3rem;
    font-weight: 100;
    line-height: 1.5;
    padding-top: 0px;
}

.three-heading {
    font-size: 3rem;
    font-weight: 100;
    line-height: 1.5;
    padding-top: 0px;
}
.navbar {
    padding: 0 0 4.5rem 0;
    margin-right: 5%;
}



.navbar-brand {
    font-family: 'Big Shoulders Text', cursive; 
    color: #f7ffe6; 
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-link {
    color: #f7ffe6;
    font-size: 1.2rem;
    font-weight: lighter;
 
}

.nav-item {
    padding:0 18px;

}

.download-btn {
    margin: 5% 3% 0% 0%;
}

#title .container-fluid {
    padding:3% 7% 15%;
    text-align: left;
}

.lead-photo {
padding-left: 0px;
padding-bottom: 0px;
width: 75%;
border-radius: 50%;
border-color: black;
border-width: 35px;
/* position: absolute; */
margin-left: 25%;
right: 5%;
box-shadow: 10px 10px 5px #1f0404;

}

#features {
    position: relative;
}

.feature-box {
    padding: 5%;
}

.icons3 {
    color: #006400;
    font-size: 3.5rem;
    margin-bottom: 1rem;
}

.icons3:hover {
color: #62d2a2;
}

h3 {
    font-weight: 700;
}

p {
    color: #626060;
    font-size: 1.5rem;
}

#testimonials {
    /* background-color: #1fab89; */
    background-color: #006400; 
}

h2 {
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 3rem; 
}

.testimonial-image {
   width: 25%;
   border-radius: 100%;
   margin: 20px;
}

em {
    font-size: 1.25rem;
}

#press {
    background-color: #1fab89; 
    text-align: center;
    padding-bottom: 3%;

}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

#pricing {
    padding: 100px;
}

.pricing column {
    padding: 3% 2%;
}

.social-icon {
    margin:20px 10px;
    font-size: 2rem;
}

@media (max-width: 1028px) {
    #title {
        text-align: center;
    }

    .phone {
        position: static;
        transform: rotate(0);
    }
    
}